@using FlashForum.Models

@{
    ViewBag.Title = "All Topics";
    var host = new TopicService();

    var list = new List<TopicModel>();
    var id = Request.QueryString["id"];

    var email = (Request.Cookies["user"] != null) ? Request.Cookies["user"].Value : "";
    var param = Request.QueryString["filter"];
    var users = new UserService();

    var user = users.GetUser(email);
    bool admin = (user != null) && user.user_level;

    int uid = int.Parse(id);
    int filter = 1;

    if(!string.IsNullOrEmpty(param) && int.TryParse(param, out filter))
    {
        list = host.AllTopics(uid, filter);
    }
    else
    {
        list = host.AllTopics(uid, filter);
    }
}

<div class="space">
</div>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <strong class="text-primary" style="margin-left: 5%;">Are you sure you want to delete this topic?</strong>
        <div class="btn-group-sm mr-sm-auto" style="margin-left: 25%; margin-top: 5%;">
            <button class="btn btn-outline-danger btn-sm" id="del"><span class="fa fa-trash">&nbsp; Remove</span></button>&nbsp;&nbsp;
            <button class="btn btn-outline-info btn-sm" id="can"><span class="fa fa-ban">&nbsp; Cancel</span></button>
        </div>
    </div>

</div>
<script type="text/javascript">
    function CloseTopic(id) {
        $.ajax({
            url: '/Home/CloseTopic',
            type: 'put',
            data: {
                'id': parseInt(id)
            },
            cache: false,
            success: function (data) {
                setTimeout(location.reload(true), 1000);
            },
            async: true
        });
    }
    function RemoveTopic(id) {
        // show popup first...
        var modal = $("#myModal");
        modal.css("display", "block");
        var close = $(".close");

        $("#del").on("click", function () {
            $.ajax({
                url: '/Home/RemoveTopic',
                type: 'delete',
                data: {
                    'id': parseInt(id)
                },
                cache: false,
                success: function (data) {
                    if (!data.success) alert(data.message);
                    else location.reload(500, true);
                },
                async: true
            });
        });

        $("#can").on("click", function () {
            close.click();
        });

        close.on("click", function () {
            modal.css("display", "none");
        });
    }

    $(document).ready(function () {
        var query = location.href;
        var url = new URL(query);
        var id = url.searchParams.get("id");

        var filter = url.searchParams.get("filter");
        if (id === null) location.href = '/Home/Index';

        $("#filter").append(`<option value="/Home/AllTopics/?id=${id}&filter=1">All Threads</option>`);
        $("#filter").append(`<option value="/Home/AllTopics/?id=${id}&filter=2">Most Posts...</option>`);
        $("#filter").append(`<option value="/Home/AllTopics/?id=${id}&filter=3">Active Topics</option>`);

        if (filter === null || filter === 1)
            $('#filter').val(`/Home/AllTopics/?id=${id}&filter=1`);
        else
            $('#filter').val(`/Home/AllTopics/?id=${id}&filter=${filter}`);
    });

    $(document).on("change", "#filter", function () {
        var filter = $("#filter").val();
        location.href = filter;
    });
</script>
<div class="container-fluid">
    @if (list.Count > 0)
    {
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Status</th>
                    <th scope="col">Published</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= list.Count; i++)
                {
                <tr>
                    <th scope="row">@i</th>
                    <td>@list[i - 1].subject </td>
                    <td>
                        @if (list[i - 1].status == 1)
                        {
                            <span class="badge badge-primary">CREATED</span>
                        }
                        else
                            if (list[i - 1].status == 2)
                        {
                            <span class="badge badge-success">RUNNING</span>
                        }
                        else
                        {
                            <span class="badge badge-info">COMPLETED</span>
                        }
                    </td>
                    <td>@list[i - 1].date</td>
                    <td>
                        <a href="/Home/Posts/?id=@list[i - 1].id" title="View Posts" data-toggle="tooltip">
                            <span class="text-primary fa fa-eye"></span>
                        </a>

                        @if (admin || list[i - 1].userid == user.Id)
                        {
                            <a onclick="CloseTopic(@list[i - 1].id)" title="Close Topic" data-toggle="tooltip">
                                <span class="text-info fa fa-times-circle"></span>
                            </a>
                            <a onclick="RemoveTopic(@list[i - 1].id)" title="Remove" data-toggle="tooltip">
                                <span class="text-danger fa fa-trash"></span>
                            </a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table><br>
    }
</div>
