@using FlashForum.Models

@{
    ViewBag.Title = "Home Page";
    var host = new CategoryService();

    var list = new List<CategoryModel>();
    var param = Request.QueryString["filter"];
    int filter = 1;

    var users = new UserService();
    var email = (Request.Cookies["user"] != null) ? Request.Cookies["user"].Value : "";
    bool action = users.HasPrivilegies(email);

    if (!string.IsNullOrEmpty(param) && int.TryParse(param, out filter)) {
        list = host.AllCategories(filter);
    }
    else
    {
        list = host.AllCategories(filter);
    }
}
<div class="space">
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <strong class="text-primary" style="margin-left: 5%;">Are you sure that you want<br> to delete this category?</strong>
        <div class="btn-group-sm mr-sm-auto" style="margin-left: 25%; margin-top: 5%;">
            <button class="btn btn-outline-danger btn-sm" id="del"><span class="fa fa-trash">&nbsp; Remove</span></button>&nbsp;&nbsp;
            <button class="btn btn-outline-info btn-sm" id="can"><span class="fa fa-ban">&nbsp; Cancel</span></button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#filter").append(`<option value="/Home/Index/?filter=1">All Categories</option>`);
        $("#filter").append(`<option value="/Home/Index/?filter=2">Best activity...</option>`);
        $("#filter").append(`<option value="/Home/Index/?filter=3">Last created</option>`);

        var query = location.href;
        var url = new URL(query);
        var id = url.searchParams.get("filter");

        if (id === null || id === 1)
            $('#filter').val('/Home/Index/?filter=1');
        else
            $('#filter').val(`/Home/Index/?filter=${id}`);
    });

    $(document).on("change", "#filter", function () {
        var filter = $("#filter").val();
        location.href = filter;
    });

    function RemoveAll(id) {
        var modal = $("#myModal");
        modal.css("display", "block");
        var close = $(".close");

        $("#del").on("click", function () {
            $.ajax({
                url: '/Home/RemoveCategory/',
                type: 'delete',
                cache: false,
                data: {
                    'id': parseInt(id)
                },
                async: true
            });

            setTimeout(function () {
                location.reload(true);
            }, 1000);
        });

        $("#can").on("click", function () {
            close.click();
        });

        close.on("click", function () {
            modal.css("display", "none");
        });
    }
</script>
<div class="container-fluid">
    @if (list.Count > 0)
    {
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Published</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= list.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@list[i - 1].name</td>
                        <td>@list[i - 1].content </td>
                        <td>@list[i - 1].date</td>
                        <td>
                            <a href="/Home/AllTopics/?id=@list[i - 1].id" title="View Topics" data-toggle="tooltip">
                                <span class="text-primary fa fa-eye"></span>
                            </a>

                            @if (action)
                            {
                                <a onclick="RemoveAll(@list[i - 1].id)" title="Remove" data-toggle="tooltip">
                                    <span class="text-danger fa fa-trash"></span>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>
    }
</div>