
@{
    ViewBag.Title = "Posts";
}
<script type="text/javascript" src="~/Scripts/js/posts.js"></script>
<div class="space">
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <strong class="text-primary" style="margin-left: 5%;">You don't need this post anymore ?</strong>
        <div class="btn-group-sm mr-sm-auto" style="margin-left: 25%; margin-top: 5%;">
            <button class="btn btn-outline-danger btn-sm" id="del"><span class="fa fa-trash">&nbsp; Remove Post</span></button>&nbsp;&nbsp;
            <button class="btn btn-outline-info btn-sm" id="can"><span class="fa fa-ban">&nbsp; Cancel</span></button>
        </div>
    </div>
</div>
@using FlashForum.Models;
@{
    if (Request.QueryString["id"] != null)
    {
        var db = new ForumEntity();
        int id = int.Parse(Request.QueryString["id"]);
        var posts = db.Posts.Where(node => node.post_topic == id).ToList();
        var files = new List<PostFile>();
        var users = new List<User>();

        string email = (Request.Cookies["user"] != null) ? Request.Cookies["user"].Value : "";
        var model = db.Users.Where(u => u.user_email == email).FirstOrDefault();
        var uid = (model != null) ? model.Id : 0;

        posts.ForEach((post) =>
        {
            var user = db.Users.Where(node => node.Id == post.post_by).FirstOrDefault();
            var content = db.PostFiles.Where(file => file.ref_id == post.post_id).FirstOrDefault();
            files.Add(content);
            users.Add(user);
        });

        for (int i = 1; i <= posts.Count; i++)
        {
            var user = users[i - 1];
            PostFile file = null;

            var vote = PostUtils.GetVotes(posts[i - 1].post_id);
            var like = PostUtils.UserLike(uid, posts[i - 1].post_id);

            if (files.Count != 0)
            {
                file = files[i - 1];
            }

            if (i % 2 != 0)
            {
                <div class="container rounded" style="width: 60%; border: 1px solid lightgray;">
                    <br><img src="/Home/ViewProfile/?id=@posts[i - 1].post_by" width="32" height="32" class="rounded-circle float-sm-left" alt="@user.user_name" />
                    <strong>&nbsp; @user.user_name</strong> says:
                    <span class="float-sm-right">@posts[i - 1].post_date.ToString("MM/dd/yyyy HH:mm:ss")</span>
                    <hr>
                    <p>@PostUtils.LoadPost(posts[i - 1].post_content)</p>
                    <div class="row justify-content-between">
                        <div class="col-4">
                            @if (file != null)
                            {
                                <a class="nav-link" href="/Home/DownloadFile/?id=@file.Id">
                                    <span class="fa fa-file text-primary">&nbsp; @file.file_name</span>
                                </a>
                            }
                            else
                            {
                                <span class="text-success text-sm-left">Reply Message...</span>
                            }
                        </div>
                        <div class="col-4 float-sm-right">
                            @if (posts[i - 1].post_by == uid)
                            {
                                <a class="text-danger" data-toggle="tooltip" title="Delete Post">
                                    <span class="fa fa-trash" onclick="RemovePost(@posts[i - 1].post_id)">
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a data-toggle="tooltip" title="Like it">
                                    <span class="text-info fa @like.Item1" onclick="UpdatePost(@posts[i - 1].post_id, 1)"></span>
                                </a> @vote.Item1
                                <a data-toggle="tooltip" title="Don't like">
                                    <span class="text-danger fa @like.Item2" onclick="UpdatePost(@posts[i - 1].post_id, 0)"></span>
                                </a> @vote.Item2
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="container rounded darker" style="width: 60%; border: 1px solid lightgray;">
                    <br><img src="/Home/ViewProfile/?id=@posts[i - 1].post_by" width="32" height="32" class="rounded-circle float-sm-left" alt="@user.user_name" />
                    <strong>&nbsp; @user.user_name</strong> says:
                    <span class="float-sm-right">@posts[i - 1].post_date.ToString("MM/dd/yyyy HH:mm:ss")</span>
                    <hr>
                    <p>@PostUtils.LoadPost(posts[i - 1].post_content)</p>
                    <div class="row justify-content-between">
                        <div class="col-4">
                            @if (file != null)
                            {
                                <a class="nav-link" href="/Home/DownloadFile/?id=@file.Id">
                                    <span class="fa fa-file text-primary">&nbsp; @file.file_name</span>
                                </a>
                            }
                            else
                            {
                                <span class="text-success text-sm-left">Reply Message...</span>
                            }
                        </div>
                        <div class="col-4 float-sm-right">
                            @if (posts[i - 1].post_by == uid)
                            {
                                <a class="text-danger" data-toggle="tooltip" title="Delete Post">
                                    <span class="fa fa-trash" onclick="RemovePost(@posts[i - 1].post_id)">
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a data-toggle="tooltip" title="Like it">
                                    <span class="text-info fa @like.Item1" onclick="UpdatePost(@posts[i - 1].post_id, 1)"></span>
                                </a> @vote.Item1
                                <a data-toggle="tooltip" title="Don't like">
                                    <span class="text-danger fa @like.Item2" onclick="UpdatePost(@posts[i - 1].post_id, 0)"></span>
                                </a> @vote.Item2
                            }
                        </div>
                    </div>
                </div>
            }
            <br>
        }
        <br>
        <h3 class="text-info" style="padding-left: 20%;">Reply</h3>
        <form class="form-inline" method="post" enctype="multipart/form-data">
            <div class="form-group mb-2" style="padding-left: 20%;">
                <textarea id="post" class="form-control rounded" rows="3" cols="50" placeholder="Post Message..." required></textarea>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <a class="text-info" onclick="OpenFile()">
                    <label for="apply">
                        <input type="file" name="" id="apply" />
                        <i class="fa fa-link"></i>
                    </label>
                </a>&nbsp;
                <a class="text-primary" onclick="SendPost()">
                    <span class="fa fa-send-o"></span>
                </a>
            </div>
        </form>
        <div class="container-sm" style="padding-left: 20%; display: none;">
            <div class="progress" style="width: 69%; height: 5px;">
                <div class="progress-bar" style="width:0%; height:5px"></div>
            </div>
        </div>
    }
}

